 <%- include('partials/header'); -%>

 <div class="banner">
  <div class="app-picture">
    <h1>Crypto Currencies is the Future of Wealth!</h1>
    <img src="./images/image.jpg" alt="">
  </div>
  <div class="app-text">
    <p>To secure your future invest now! </p>
    <a class="text-btn" href="/markets" ><p>View Crypto Markets</p></a>
  </div>

</div>


<%- include('partials/footer'); -%>