<%- include('partials/header'); -%>

<div class="contents-container">
  <div class="text">
    <h1>Buy from the Markets</h1>
  </div>
  <div class="products">
    <img src="./images/bitcoin.png" width="50" alt="" />
    <p class="title">Bitcoin</p>
    <p class="symbol">BTC</p>
    <p class="value">$10,660.00</p>
    <p class="percentage">0.80%</p>
  </div>
  <div class="products">
    <img src="./images/bitcoin-cash.png" width="50" alt="" />
    <p class="title">Bitcoin cash</p>
    <p class="symbol">BCH</p>
    <p class="value">$220.66</p>
    <p class="percentage">0.59%</p>
  </div>
  <div class="products">
    <img src="./images/binance-coin.png" width="50" alt="" />
    <p class="title">Binance cash</p>
    <p class="symbol">BNB</p>
    <p class="value">$28.93</p>
    <p class="percentage">3.32%</p>
  </div>
  <div class="products">
    <img src="./images/ethereum.png" width="50" alt="" />
    <p class="title">Ethereum</p>
    <p class="symbol">ETH</p>
    <p class="value">$351.83</p>
    <p class="percentage">0.74%</p>
  </div>
  <div class="products">
    <img src="./images/litecoin.png" width="50" alt="" />
    <p class="title">Litecoin</p>
    <p class="symbol">LTC</p>
    <p class="value">$46.75</p>
    <p class="percentage">2.01%</p>
  </div>
  <div class="products">
    <img src="./images/stellar.png" width="50" alt="" />
    <p class="title">Stellar</p>
    <p class="symbol">XLM</p>
    <p class="value">$0.07</p>
    <p class="percentage">1.66%</p>
  </div>
  <div class="products">
    <img src="./images/xrp.png" width="50" alt="" />
    <span><p class="title">Xrp</p></span>
    <p class="symbol">XRP</p>
    <p class="value">$345.87</p>
    <p class="percentage">0.67%</p>
  </div>
  <div class="products">
    <img src="./images/monero.png" width="50" alt="" />
    <span><p class="title">Monero</p></span>
    <p class="symbol">XMR</p>
    <p class="value">$106.62</p>
    <p class="percentage">3.16%</p>
  </div>

</div>

<%- include('partials/footer'); -%>