<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>5 Stack Crypto Web Application</title>
    <link rel="stylesheet" href="styles.css">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&family=Quicksand&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  </head>
  <body>
    <div class="main-container">
      <div class="menu">
        <ul>
          <li class="logo-container">
            <a href="/"><svg width="1.5em" height="1.5em" viewBox="0 0 16 16" class="bi bi-dice-5" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" d="M13 1H3a2 2 0 0 0-2 2v10a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V3a2 2 0 0 0-2-2zM3 0a3 3 0 0 0-3 3v10a3 3 0 0 0 3 3h10a3 3 0 0 0 3-3V3a3 3 0 0 0-3-3H3z"/>
                <circle cx="4" cy="4" r="1.5"/>
                <circle cx="12" cy="4" r="1.5"/>
                <circle cx="12" cy="12" r="1.5"/>
                <circle cx="4" cy="12" r="1.5"/>
                <circle cx="8" cy="8" r="1.5"/>
              </svg></a>
            <span><p ><a class="logo-text" href="/">5 Stack Crypto</a></p></span>
          </li>
          <li><a href="/" >Home</a></li>
          <li><a href="/markets" >Markets</a></li>
          <% if (user) { %>
            <li>Welcome, <%= user.email %></li>
            <li><a href="/logout" class="logout-btn btn"><span>Log out</span></a></li>
          <% } else { %>
            <li><a href="/login" class="login-btn btn"><span>Log in</span></a></li>
            <li><a href="/signup" class="signup-btn btn"><span>Sign up</span></a></li>
          <% } %>
        </ul>
      </div>